%section#nic
  %h1
    %span.n<>
      N
    icholas&nbsp;
    %span.r<>
      R
    owe
  %p
    +44 7855 147 188
    %a{ href: 'http://player.vimeo.com/video/24968417?title=0&amp;byline=0&amp;portrait=0', rel: 'shadowbox', title: "Nicholas' Showreel" }
      Showreel
%section#ray
  %h1
    %span.r<>
      R
    achel&nbsp;
    %span.g<>
      G
    ilmore
  %p
    +44 7545 616 664
    %a{ href: 'http://player.vimeo.com/video/25094153?title=0&amp;byline=0&amp;portrait=0', rel: 'shadowbox', title: "Rachel's Showreel" }
      Showreel
%section#about
  %p
    A pair of TV enthusiasts who specialise in sound and video editing.
  %p
    Using our own facilities we offer both ends of post production editing at a high standard;
    no project is too big or too small.
%section#contact
  Email:
  %a{ href: "mailto:nrg.tv.team@gmail.com", title: "nrg.tv.team@gmail.com" }
    nrg.tv.team@gmail.com
