%section#nic
  %h1
    %span.n<>
      N
    icholas&nbsp;
    %span.r<>
      R
    owe
  %p
    +44 7855 147 188
%section#ray
  %h1
    %span.r<>
      R
    achel&nbsp;
    %span.g<>
      G
    ilmore
  %p
    +44 7545 616 664
%section#about
  A pair of TV enthusiasts who specialise in sound and video editing. Using our own facilities we offer both ends of post production editing at a high standard, no project is too big or too small.
%section#contact
  Email:
  %a{ href: "mailto:nrg.tv.team@gmail.com", title: "nrg.tv.team@gmail.com" }
    nrg.tv.team@gmail.com
