!!!5
%html
  %head
    %title
      NRG TV Team
    %link{ href: '/stylesheets/default.css', rel: 'stylesheet' }
    %link{ href: '/javascripts/shadowbox/shadowbox.css', rel: 'stylesheet' }
    /[if lt IE 9]
      %script{ src: "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
      %script{ src: "jquery-1.2.6.js" }
      %script{ src: "sylvester.js" }
      %script{ src: "pb.transformie.min.js" }
    /[if lt IE 7]
      :css
        img, div, input { behavior: url("iepngfix.htc") }
  %body
    %header
      %img{ src: 'logo-trans.png', alt: 'NRG TV Team', title: 'NRG TV Team' }
    = yield
    %footer
      &copy; 2011 NRG TV Team
    .javascripts
      %script{ type: "text/javascript", src: "/javascripts/shadowbox/shadowbox.js" }
      :javascript
        Shadowbox.init();
