!!!5
%html
  %head
    %title
      NRG TV Team
    %link{ href: '/stylesheets/default.css', rel: 'stylesheet' }
    /[if lt IE 9]
      %script{ src: "http://html5shiv.googlecode.com/svn/trunk/html5.js" }
  %body
    %header
      %h1
        .n
          N
        .r
          R
        .g
          G
      %h2
        TV Team
    = yield
    %footer
      &copy; 2011 NRG TV Team
