@import 'reset'
@import 'colours'
@import 'mixins'

html, body
  :-webkit-font-smoothing antialiased
  :background $background
  :-webkit-background-size cover
  :-moz-background-size cover
  :-o-background-size cover
  :background-size cover
  :color $text

body
  :width 960px
  :margin 0 auto
  :font-family Arial
  :font-size 2em

  header
    :float left
    :margin-top 2em
  section, header, footer
    :display block
  #nic, #ray
    :padding-bottom 1em
    :margin-right -3em
    +transform( rotate(-10deg) )
    h1
      :font-size 2.8em
  #nic
    :padding-top 3em
  #ray
    :text-indent 1em
  #about
    :clear both
    :text-align center
    :padding-top 1em
  #contact
    :clear both
    :padding 1em
    :text-align center
  footer
    :text-align center


.n
  :color $N_RED
.r
  :color $R_ORANGE
.g
  :color $G_GREEN

a, a:visited, a:active
  :color $link
  :text-decoration none
  &:hover
    :text-decoration underline
